@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    -webkit-app-region: no-drag;
}

body {
    background-color: var(--background) !important;
    color: var(--b_high) !important;
    font-family: 'Fira Mono', monospace;
    font-size: 14px;
    line-height: 18px;
    padding: 30px;
    overflow: hidden; 
    transition: background-color 500ms;
}

#drag-zone {
    -webkit-app-region: drag;
}

p {
    -webkit-app-region: no-drag;

    &::selection {
        background-color: rgba(173, 173, 173, 0.3);
    }
}

ul {
    list-style: none;

    li {
        position: relative;
        margin-bottom: 8px;
        padding-right: 24px;
        transition: background-color .3s ease;
        padding: 4px;

        &.active {
            background-color: var(--b_inv);
            transition: none;
        }

        .index {
            display: inline-block;
            color: var(--b_med);

            &:before {
                content: "[";
            }

            &:after {
                content: "]";
            }

            &[data-action="add"] {
                &:hover {
                    color: var(--b_med);
                    cursor: pointer;
                }
            }
        }

        .host {
            display: inline-block;
            color: var(--b_inv);
            margin: 0 1ch;
            min-width: 20ch;

            &:hover,
            &:focus {
                outline: none;
                color: var(--b_high);
            }
        }

        .msg {
            margin-left: 4ch;
            color: var(--b_med);
            margin-right: 32px;

            &:hover,
            &:focus {
                outline: none;
                color: var(--b_high);
            }
        }
    }
}

#shortcuts {
    text-align: center;

    ::selection {
        background-color: var(--background) !important;
    }

    p {
        display: inline-block;
        position: relative;
        color: var(--b_med);
        cursor: pointer;
        margin: 1em auto;

        &:hover {
            color: var(--f_high);
        }

        span {
            &:before {
                display: inline-block;
                content: "«";
                transform: rotate(-90deg);
            }
        }
    }

    ul {
        display: none;
        text-align: left;
    }

    &.open {
        span {
            &:before {
                transform: rotate(90deg);
            }
        }

        ul {
            display: block;
        }
    }
}

#tooltip {
    position: absolute;
    padding: 4px 8px;
    background-color: black;
    visibility: hidden;

    &.visible {
        visibility: visible;
    }
}

kbd {
    color: var(--b_med);

    &:before {
        content: "[";
    }

    &:after {
        content: "]";
    }
}
